body {
    background-color: #0b355c;
}

.intro {
/*margin-top: 10%;
margin-bottom: 20%;*/
border: 3px solid;
border-color: #394655;
}

main {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 60%;
    
}


h1 {
    color: #FFFFE0;
    /*text-align: center;*/
    font-size: 80pt;
    font-family: URW Chancery L, cursive;
    width: 883px;
    height: 500px;
}

h2 {
    color: #FFFFE0;
    font-size: 30pt;
    margin-bottom: 1%;
    font-family: cursive;
}

h3 {
    color: #FFFFE0;
    font-size: 20pt;
    font-family: cursive; 
}

p, ul, blockquote {
    color: #FFFFE0;
    font-family: cursive;   
}

img {
    border: 2px solid;
    border-color: #394655;
}

.simone, .kit, .baker {
    margin-bottom: 10%;
    border: 2px solid;
    border-color:springgreen;
}

.neale {
    margin-bottom: 7%;
}

.quotes {
    margin-bottom: 5%;
}


.where {
    font-size: 17pt;
}

#sing, #act, #write   {
   width: 820px;
}

#loc {
    font-size: 40pt;  
}


aside {
    flex: 40%;
 
}

.clown, .fresh, .betta, .sea {
    border: 2px solid;
    border-color: crimson;
}

/*.clown {
    margin-bottom: 88%;
}

.fresh {
    margin-bottom: 140%;
}

.betta {
    margin-bottom: 128%;
}*/

